* {
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
}

nav {
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 10px #aaaaaa;
}

nav > img {
    max-width: 100px;
}

.hero-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5%;
}

.hero-div h1, .hero-div p {
    width: 100%;
    margin: 0;
}

.hero-div img {
    max-width: 800px;
    width: 90%;
    margin: 0 10% 30px;
}

.hero-div p {
    margin-right: 30%;
}

#card ul {
    list-style: none;
    margin: 5%;
    padding: 0;
}

#card li {
    width: 200px;
}

.thumbnail {
    width: 200px;
    border-radius: 15px;
}

.favorite-icon {
    width: 20px;
}

small {
    margin: 30px 5px;
    color: grey;
}

#card p {
    margin: 0;
    font-size: smaller;
}

